.mainWrapper {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #ececec;

	.innerWrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 850px;
		height: 700px;
		border-radius: 10px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
		background-color: #fff;

		&__title {
			margin-top: 20px;
			font-weight: 100;
		}

		.datePickerWrapper {
			display: flex;

			&__datePicker {
				margin-top: 50px;
				width: 200px;

				&:not(:last-child) {
					margin-right: 30px;
				}
			}
		}

		.uploadFileWrapper {
			width: 430px;
			height: 50px;
			margin-top: 20px;
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='lightgrey' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='19' stroke-linecap='square'/%3e%3c/svg%3e");
			border-radius: 13px;

			&__uploadFile {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				color: #2e81ec;
				cursor: pointer;
				text-decoration: underline;

				&--svg {
					margin-right: 5px;
				}
			}

			&__fileUploaded {
				display: flex;
				flex-direction: row;
				height: 100%;
				justify-content: space-between;
				align-items: center;
				transition: 0.3s ease;

				&--fileName {
					margin-left: 20px;
					font-weight: 600;
				}

				&--deleteFile {
					margin-right: 20px;
					cursor: pointer;
				}
			}
		}

		&__button {
			min-height: 45px;
			max-height: 45px;
			padding: 10px 25px;
			margin-top: 20px;
			color: #fff;
			border-radius: 4px;
			cursor: pointer;
			background: #2e81ec;
			transition: 0.3s ease;

			&:hover {
				background: #42a5fc;
				transition: 0.3s ease;
			}

			.loader {
				display: flex;
				height: auto;
				justify-content: center;
				align-items: center;
			}

			.spinner {
				height: 3vh;
				width: 3vh;
				border: 6px solid #fff;
				border-top-color: #9ea6b9;
				border-radius: 100%;
				animation: rotation 1.3s infinite ease-in-out 0.25s;
				opacity: 0;
				margin-right: 10px;
			}

			@keyframes rotation {
				from {
					opacity: 1;
					transform: rotate(0deg);
				}

				to {
					opacity: 1;
					transform: rotate(359deg);
				}
			}
		}

		&__disabledButton {
			min-height: 45px;
			max-height: 45px;
			padding: 10px 25px;
			margin-top: 20px;
			color: #9ea6b9;
			border-radius: 4px;
			background: #dfe1e7;
		}

		.results {
			display: flex;
			flex-direction: column;
			padding: 10px;
			margin-top: 20px;
			height: 50%;
			width: 90%;
			border-radius: 4px;
			background-color: #f2f3f3;

			&__header {
				display: flex;
				justify-content: space-between;
				margin: 0 5px 5px 5px;

				&--resultsLength {
					align-self: center;
					color: #2e81ec;
				}

				&--downloadButton {
					height: 24px;
					width: 115px;
					color: #2e81ec;
					border-radius: 3px;
					border: 1px solid #2e81ec;
				}

				&--svg {
					margin-right: 7px;
				}
			}

			&__rows {
				overflow: auto;

				&::-webkit-scrollbar {
					width: 5px;
					height: 5px;
				}

				&::-webkit-scrollbar-thumb {
					background: #9ea6b9;
					border-radius: 4px;
				}

				&::-webkit-scrollbar-track {
					background: #dfe1e7;
				}
			}

			&__row {
				margin-left: 15px;
				font-size: 0.9rem;
				font-weight: 600;
				white-space: nowrap;
			}

			&__noResult {
				margin: auto;
				text-align: center;
				font-size: 2rem;
				font-weight: 600;
			}
		}
	}
}
